p{ // margin: auto;
     width: 100%;
     height: 100%;
     
    word-wrap: break-word;
    
 font-family: AR CENA;
 font-size: 20px;
}

body{
    background-color: white;
    
}
img{
    width: 200px;
    height:300px;
    margin-left: auto;
	margin-right: auto;
	display: block;
}
